{% extends "base.html" %}
{% load static %}

{% block content %}
<body class="result-bg">
  <nav class="navbar navbar-expand-xl navbar-dark home-bg static-top mb-5 shadow-sm">
    <div class="container">
      <a class="navbar-brand font-weight-bold " href="/">Restaurant Data Center</a>
      <form action="{% url 'search' %}" method="POST">
        <div class="input-group border rounded">
          <input name='name' type="search" placeholder="What're you searching for?" aria-describedby="button-addon3" class="nav-search form-control bg-none border-0">
          <div class="input-group-append border-0">
            <button id="button-addon3" type="button" class="btn btn-link text-success bg-white"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </nav>
<div class="container">
<div class="col">
  <div class="row-sm-6">
    <a href="/" class="btn btn-light float-left">&laquo; Back to search result</a>
    <br>
    <br>
    <div class="card mb-3 rounded shadow-sm border-0">
      <img src="https://food-images.files.bbci.co.uk/food/recipes/vegetable_pasta_bake_15082_16x9.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">
          <span>{{ data.name }}</span>
          <span class="float-right"><a href="https://tripadvisor.com{{ data.urlTA }}"><i class="fab fa-tripadvisor green-tripadvisor" rel="tooltip" title="Trip Advisor"></i></a><i class="fas fa-trophy golden-trophy" rel="tooltip" title="Ranking"></i>{{ data.ranking }}<i class="fas fa-star yellow-star" rel="tooltip" title="Rating"></i>{{ data.rating }}</span>

        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            <span> <i class="fa fa-map-marker" style="font-size:12px"></i></span>
            {% if data.cityIRI %}
              <a href="{{ data.cityIRI }}"><span>{{ data.city }}</span></a>
            {% else %}
              <span>{{ data.city }}</span>
            {% endif %}
        </h6>
        <br>
        <!-- <div class="card-text">
            <span class="">Ranking :</span>
            <span class="">{{ data.ranking }}</span>
        </div> -->
        <div class="card-text">
            <span class="">Cuisine Style :</span>
            <span class="">{{ data.cuisineStyle }}</span>
        </div>
        <div class="card-text">
            <span class="">Price Range :</span>
            <span class="">{{ data.priceRange }}</span>
        </div>
        <!-- <div class="card-text">
            <span class="">URL Trip Advisor :</span>
            <a href="https://tripadvisor.com{{ data.urlTA }}">Trip Advisor</a>
        </div> -->
        <!-- <div class="card-text">
            <span class="">Number of Reviews :</span>
            <span class="">{{ data.numberOfReview }}</span>
        </div> -->
        <!-- <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
    <div class="card mb-3 rounded shadow-sm border-0">
      <div class="card-body">
        <span><i class="far fa-comments grey-review" rel="tooltip" title="Reviews"></i>{{ data.numberOfReview }}<span class="text-review">Reviews</span></span>
        <br>
        <span><b>Top Reviews :</b></span>
        <div class="card-text">
          {% for review in data.reviews %}
            <div class="review-card">
              <span class="">{{ review.date }}</span>
              <br>
              <span class=""><b>{{ review.text }}</b></span>
              <br>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>
</div>

<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
{% endblock %}
