{% extends "base.html" %}
{% load static %}

{% block content %}
<body class="home-bg">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent bg-light static-top mb-5 shadow">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="/">Restaurant Data Center</a>
  </div>
</nav>

<div class="container">
  <!-- For demo purpose -->
  <div class="row py-5">
    <div class="col-lg-9 mx-auto text-center text-white">
      <h1 class="display-4 font-weight-bold">Restaurant Data Center</h1>
      <p class="lead mb-0">Find the best restaurants, cafés, and bars</p>
    </div>
  </div>
  <!-- End -->


  <div class="row mb-5">
    <div class="col-lg-8 mx-auto">
      <div class="bg-white p-5 rounded shadow">

        <!-- Custom rounded search bars with input group -->
        <form action="{% url 'search' %}" method="POST">
        		<div class="input-group border rounded">
        		  <input name="name" type="search" placeholder="What're you searching for?" aria-describedby="button-addon3" class="form-control bg-none border-0 home-search">
        		  <div class="input-group-append border-0">
        		    <button id="button-addon3" type="submit" class="btn btn-link text-success"><i class="fa fa-search"></i></button>
        		  </div>
        		</div>
            <br>
              <div class="col">
                <div class="row">
                <select name="city" style="rounded" class="selectpicker">
                    <option value="" disabled selected hidden>City</option>
                    {% for city in cities %}
                      <option value="{{ city }}">{{ city }}</option>
                    {% endfor %}
                </select><!-- End --><br>
                <select name="style" style="rounded" class="selectpicker">
                    <option value="" disabled selected hidden>Cuisine Style</option>
                    {% for style in cuisineStyle %}
                      <option value="{{ style }}">{{ style }}</option>
                    {% endfor %}
                </select><!-- End -->
              </div>
              <br>
              <div class="row">
                <select name="rating" style="rounded" class="selectpicker">
                    <option value="" disabled selected hidden>Rating</option>
                    <option value="1.0">>= 1</option>
                    <option value="2.0">>= 2</option>
                    <option value="3.0">>= 3</option>
                    <option value="4.0">>= 4</option>
                    <option value="5.0">= 5</option>
                </select><!-- End -->
                <select name="price" style="rounded" class="selectpicker">
                    <option value="" disabled selected hidden>Price Range</option>
                    {% for price in priceRange %}
                      <option value="{{ price }}">{{ price }}</option>
                    {% endfor %}
                </select><!-- End -->
              </div>
            </div>
        </form>
        <!-- End -->
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
</body>
{% endblock %}
