{% extends "base.html" %}
{% load static %}

{% block content %}
<body class="result-bg">
<nav class="navbar navbar-expand-xl navbar-dark home-bg static-top mb-5 shadow-sm">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="/">Restaurant Data Center</a>
    <form action="{% url 'search' %}" method="POST">
      <div class="input-group border rounded">
        <input name="name" type="search" placeholder="What're you searching for?" aria-describedby="button-addon3" class="nav-search form-control bg-none border-0">
        <div class="input-group-append border-0">
          <button id="button-addon3" type="button" class="btn btn-link text-success bg-white"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
  </div>
</nav>
<div class="container" >
    <h4>Search result for "{{ searchFor }}"</h4>
    <br>
    <div class="col">
        <div class="row-sm-6">
            {% for x in data %}
            <div class="card mb-3 rounded shadow-sm border-0" style="width: inherit;">
                <div class="card-body">
                    <h5 class="card-title">
                        <span>{{ x.name }}</span>
                        <span class="float-right"><i class="fas fa-star yellow-star"></i>{{ x.rating }}</span>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <span> <i class="fa fa-map-marker" style="font-size:12px"></i></span>
                        <span>{{ x.city }}</span>
                    </h6>
                    <div class="card-text">
                        <span class="">Cuisine Style :</span>
                        <span class="">{{ x.cuisineStyle }}</span>
                    </div>
                    <div class="card-text">
                        <span class="">Price Range :</span>
                        <span class="">{{ x.priceRange }}</span>
                    </div>
                    <!-- <a href="#" class="btn btn-info stretched-link" style="
                    margin-top: 10px;">Details</a> -->
                    <a href="{% url 'detail' x.id %}" class="btn btn-light float-right">Details ></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
{% endblock %}
