.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

/*
===========

search bar

===========
*/

.home-search {
  background: transparent;
}

.home-search:focus {
  background: transparent;
}

.nav-search {
  background: white;
  width: 350px !important;
}

.yellow-star{
  color: #F6DB6D;
  margin : 0 0.5rem 0 2rem;
 
}

.golden-trophy{
  color: #d1ab15;
  margin : 0 0.5rem 0 2rem;
}

.grey-review{
  color: #76726f;
  margin : 0 0.5rem 0 0;

}

.text-review{
  margin : 0 0 0 0.5rem;
}

.green-tripadvisor{
  color: green;
  margin : 0 0.5rem 0 2rem;
}

.nav-search:focus {
  background: white;
}

/*
===========

background

===========
*/

.home-bg {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ), url('https://format-magazine-production-res.cloudinary.com/image/upload/c_limit,w_1800,h_1200,f_jpg,f_auto/Mexican_Table_1_slzrja') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.result-bg {
  background: url('../img/result-bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.bg-white{
  background: white;
}

/*
===========

select dropdown

===========
*/

.bootstrap-select .bs-ok-default::after {
    width: 0.3em;
    height: 0.6em;
    border-width: 0 0.1em 0.1em 0;
    transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
    outline: none !important;
}

/*
===========

set image size

===========
*/


.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.review-card {
  background-color: rgb(233, 233, 233);
  margin: 1rem 0 1rem 0;
  padding: 0.5rem;
  border-radius: 4px;
}

.back-1 {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.back-1:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}